.container{
    border: solid 2px black;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}
h3{
    text-align: center;
}
.row1{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}
.box1{
    border: solid 2px black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(./Audi.webp);
}
.row2{
    display:flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}
.box2{
    border: solid 2px black;
    height: 50px;
    width: 50px;
}
.row3{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}
.box3{
    border: solid 2px black;
    height: 50px;
    width: 50px;
}
.vid{
    display: flex;
    justify-content: center;
}

