.pic{
    border: solid 2px black;
    height: 150px;
    width: 150px;
    margin: 20px;
}
.cotianer{
     display: flex;
     justify-content: center;
     align-items: center;
}
.main-contianer{
    margin-top: 75px;
}
.taskbar{
    height: 75px;
    width: 100%;
    background-color: blueviolet;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    position: fixed;
    top: 0;
}