body{
    background-color: red;
    background-image: url(./download.png);
    background-repeat: no-repeat; /*repeat(defualt),no-repeat,,repeat-x,repeat-y*/
    background-position: top-left;  /*left(default),right,top,bottom,top-left,top-right,bottom-left,bottom-right*/
    background-size: auto; /*auto(default),contain,cover*/
    background-attachment: fixed; /*scroll(defult),fixed*/
    
}
